url = "/volna-pracovni-mista/:slug"
layout = "default"
title = "Volná pozice"

[section job]
handle = "Jobs\Job"
identifier = "slug"
value = "{{ :slug }}"
==
<div class="container-fluid py-5 border-1 border-bottom border-light" id="page-job">
    <div class="container-lg">
        {% if job.image %}
            <div class="mb-5">
                <img src="{{ job.image.thumb(1400, 350, {mode: "crop"}) }}" alt="{{ job.image.description }}" class="img-fluid w-100 rounded-3">
            </div>
        {% endif %}

        <h1 class="mb-4">
            {{ job.title }}
        </h1>

        <div class="d-flex flex-column gap-5">
            <div class="text">
                <p class="mb-0">
                    Pracovní poměr: {{ job.relationship }} <br>
                    Odměna/mzda:

                    <span class="fw-bold fs-2">
                        {{ job.salary }}
                    </span>
                </p>
            </div>

            {% if job.job %}
                <div class="text">
                    <h2 class="mb-4">
                        Náplň práce
                    </h2>

                    {{ job.job|raw|bootstrap }}
                </div>
            {% endif %}

            {% if job.requirements %}
                <div class="text">
                    <h2 class="mb-4">
                        Požadujeme
                    </h2>

                    {{ job.requirements|raw|bootstrap }}
                </div>
            {% endif %}

            {% if job.offer %}
                <div class="text">
                    <h2 class="mb-4">
                        Nabízíme
                    </h2>

                    {{ job.offer|raw|bootstrap }}
                </div>
            {% endif %}

            {% if job.benefits %}
                <div class="text">
                    <h2 class="mb-4">
                        Benefity
                    </h2>

                    {{ job.benefits|raw|bootstrap }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
